<div class="container-page">
    <app-navbar></app-navbar>
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <span class="h2">Listado de áreas</span>
                <a routerLink="/create-user" class="btn btn-primary float-end">Agregar</a>
                <p *ngIf="areaList.length === 0" class="text-center h5 py-5">No hay áreas registradas.</p>
                <div *ngIf="areaList.length > 0" class="table-responsive w-100">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Nombre del área</th>
                                <th scope="col">Líder del área</th>
                                <th scope="col">Activo</th>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let area of areaList">
                                <td>{{area.code}}</td>
                                <td>{{area.name}}</td>
                                <td>{{area.leader}}</td>
                                <td>{{area.status}}</td>
                                <td>
                                    <i [routerLink]="['/edit-area/', area.id]" class="fas fa-edit fa-lg text-info mr-2 cursor-pointer"></i>
                                    <i (click)="deleteArea(area.id)" class="fas fa-trash-alt fa-lg text-danger cursor-pointer"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>