<div class="bg">
    <div class="container w-75 bg-primary rounded shadow">
        <div class="row align-items-stretch">
            <div class="col section-bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded"></div>
            <div class="col bg-white p-5 rounded-end">
                <h1 class="fw-bold text-center py-4">Bienvenido</h1>
                <p class="text-center">¿Qué desea hacer?</p>
                <div class="d-grid mb-5">
                    <!--<a href="/dashboard" class="btn btn-primary w-50 mx-auto mb-1">Panel</a>-->
                    <a href="/create-user" class="btn btn-primary w-50 mx-auto mb-1">Crear usuario</a>
                    <a href="/create-area" class="btn btn-primary w-50 mx-auto mb-1">Crear áreas</a>
                    <a href="/consult-area" class="btn btn-primary w-50 mx-auto mb-1">Consultar áreas</a>
                    <a href="/consult-employees" class="btn btn-primary w-50 mx-auto mb-1">Consultar empleados</a>
                </div>
            </div>
        </div>
    </div>
</div>